*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  height: 100%;
  background-color: black;
}

main{
  position: "relative";
}

section{
  min-height: 100vh;
  position: relative;
  z-index: 2;
}


#section-1 {
  --gap: 5rem;
  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.5rem;
    color: whitesmoke;

    .nav-elem:nth-child(2) {
      i {
        color: red;
      }
    }

    svg {
      max-width: 5rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 7rem;
      color: whitesmoke;
    }

    h1 {
      font-size: 5rem;
      line-height: 0.8;
      text-align: right;
    }

  }

  .bottom {

    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      p {
        font-weight: 200;
        line-height: 1.5;
        color: whitesmoke;
      }
    }

  }

  .first-line {
    width: 35rem;
    background-color: rgba(255, 0, 0, 0.5);
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(0, -17rem);
  }

  .second-line {
    width: 10rem;
    background-color: rgba(255, 0, 0, 0.5);
    height: 1px;
    position: absolute;
    transform: rotate(135deg);
    top: 28%;
    right: 12%;
  }
}